body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f17;
  color: #fff;
}

/* HEADER */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #181820;
  padding: 12px 25px;
  border-bottom: 1px solid #292932;
}

.logo span {
  color: #ff79c6;
  font-weight: 600;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.upload-btn {
  background: #ffde59;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.upload-btn:hover { background: #fff27a; }

.brand {
  color: #bbb;
  font-weight: 500;
}

/* PLAYER AREA */
.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 40px;
}

.album-cover img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  object-fit: cover;
}

/* PLAYER BOX */
.player-box {
  background: #1c1c26;
  padding: 25px;
  border-radius: 18px;
  width: 380px;
  box-shadow: 0 0 35px rgba(0,0,0,0.5);
}

.song-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.artist {
  margin: 5px 0 20px 0;
  color: #999;
  font-size: 14px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
}

.btn {
  background: #2b2b36;
  border: none;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #3b3b4a;
}

.play {
  background: linear-gradient(135deg, #ff79c6, #8be9fd);
  color: #000;
}

.visibility-btn {
  background: #b81d1d;
}
.visibility-btn.off {
  background: #444;
}

.progress-bar input {
  width: 100%;
  accent-color: #ff79c6;
}
